*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}

.navbar-brand {
    left: 50%;
    display: block;
}

.navbar-brand .logo {
    height:40px;
    background-color: aliceblue;
    padding: 5px 5px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    text-align: center;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*-----------------------------Banner section------------------------------*/

#banner{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding-top: 5%;
    color: #fff;
}

.promo-title{
    font-size: 40;
    font-weight: 600px;
    margin-top: 100px;
}

.fa-play-circle-o{
    color: #fff;
    vertical-align: middle;
    margin-right: 25;
}

#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}


/*-----------------------------Services------------------------------*/

#services{
    padding: 10px 0;
}

.service-img{
    width: 200px;
    margin-top: 20px;
}

.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    text-transform: uppercase;

}

#services .btn{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}



/*-----------------------------About Us------------------------------*/

#about-us{
    background: #f8f9fa;
    margin-top:50px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.about-title{
    font-size: 40px;
    font-weight: 600px;
    margin-top: 8%;
}

.about-img{
    padding-left:50px;
}

#about-us ul li{
    margin: 10px 0;
}

#about-us ul{
    margin-left: 20px;
}

#about-us .about-img img{
    margin: 50px;
}


/*-----------------------------Testimonials------------------------------*/

#testimonials{
    margin:100px;
}

.testimonials{
    border-left: 4px solid #7b1798;
    margin-bottom: 50px;
    margin-top: 50px;
}

.testimonials img{
    padding: -20px;
    width: 60px;
    height: 60px;
    border-radius:50% ;
    margin: 0 10px;
}


.user-details{
    display: inline-block;
    font-size:12px;
}


/*-----------------------------Social Media------------------------------*/

#social-media{
    background: #f8f9fa;
    padding: 100px 0;
    margin-bottom: -100px;
}



#social-media p{
    font-size: 36px;
    font-weight: 600px;
    margin-bottom: 30px;
}

#social-media img {
    margin-top: 100px;
    margin-bottom: 0;
}

.social-icons img{
    width: 60px;
    transition: 0.5;
}


.social-icons a:hover img{
    transform: translateY(-10px);
}


/*-----------------------------Footer------------------------------*/

#footer{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    margin-top: 0;
}




.footer-box{
    padding: 20px;

}

.footer-box img{
    width: 50;
    margin-bottom: 10;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);

}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}

hr{
    background-color: #fff;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
